.header {
  padding: 24px 0px 24px 0px;
  .sandwich {
    a {
      display: flex;
      align-items: center;
      gap: 28px;
      font-size: 1.4rem;
      text-decoration: none;
      color: $color-primary-accent;
      &:hover {
        span {
          background: $color-primary-extra-2;
        }
      }
      span {
        transition: all ease-in-out 300ms;
        border-radius: 8px;
        background: $color-primary-accent;
        padding: 12px;
      }
    }
  }

  nav:not(.otherwise) {
    ul {
      gap: 16px;
      a {
        padding: 10px 8px;
        text-decoration: none;
        color:$color-primary-accent;
        display: block;
        position: relative;
        transition: all ease-in-out 300ms;
        font-weight: 400;
        font-size: 1.4rem;
        &:hover {
          color: $color-neutral-black;
        }
        &:after {
          width: 0;
          content:"";
          height: 2px;
          position: absolute;
          bottom: 4px;
          transition: all ease-in-out 300ms;
          left: 8px;
          background-color: $color-primary-accent;
        }
        &:hover:after {
          width: calc(100% - 16px);
        }
      }
    }
  }

  .otherwise {
    margin-top: 45px;
    ul {
      gap: 30px;
      margin-bottom: 0px;
    }
    li:first-child a {
      letter-spacing: 0px;
    }

    li {
      flex: 1;
      display: block;

      a {
        height: 100%;
        img {
          max-height: 52px;
          width: auto;
        }
        background: $color-neutral-white;
        border: 1px solid $color-neutral-silver;
        padding: 18px 20px;
        display: flex;
        align-items: center;
        border-radius: $border-radius-normal;
        gap: 12px;
        font-weight: 700;
        font-size: 1.4rem;
        line-height: 2.0rem;
        color: $color-primary-accent;
        text-decoration: none;
        transition: all ease-in-out 300ms;

        &:hover {
          background-color: $color-primary-extra-5;
          border-color: $color-primary-extra-5;
        }
      }
    }
  }

  .search {
    display: none;
    gap: 30px;
    position: relative;
    margin-top: 40px;
    .input-search {
      width: 100%;
    }
    svg {
      position: absolute;
      top:16px;
      cursor: pointer;
      left: 23px;
    }
    input {
      outline: none;
      appearance: none;
      width: 100%;
      box-sizing: border-box;
      height: 52px;
      border: 1px solid $color-neutral-silver;
      border-radius: 8px;
      padding:14px 14px 14px 56px;
      margin-bottom: 0px;
    }

  }
}

@media (max-width: 768px) {
  .menu, .otherwise {
    display: none;
  }
  .search {
    .button-primary {
      display: none;
    }
  }

  header.header {
    padding: 40px 0px 32px 0px;
  }

  .header .search {
    margin-top: 32px;
  }
}