.servicos-destaque{
    display: flex;
    gap: 32px;

    .coluna-esquerda{
        flex: 1;

        .card-sessao-plenaria{
            border-radius: $radius-16px;
            border: 1px solid $color-neutral-silver;
            background-color: $color-neutral-white;
            padding: 32px 24px 40px 24px;

            p{
                margin: 16px 0;
            }

            .links-sessao-plenaria{
                display: flex;
                flex-wrap: wrap;
                gap: 16px;

                .links-esquerda{
                    flex: 1;
                    width: 100%;
                    min-width: 204px;
                }

                .links-direita{
                    flex: 1;
                    width: 100%;
                    min-width: 274px;
                }
                
                a{
                    display: block;
                    text-decoration: none;
                    color: $color-primary-accent;
                    transition: all 300ms;
                    padding-left: 0;

                    svg{
                        margin-left: 8px;
                        transition: all 300ms;
                    }

                    &:hover{
                        padding-left: 6px;

                        svg{
                            margin-left: 0;
                        }
                    }
                }
                
                a + a{
                    margin-top: 16px;
                }
            }
        }
    }

    .coluna-direita{
        flex: 1;
    }

    .card-primario{
        border-radius: $radius-16px;
        border: 1px solid $color-neutral-silver;
        background-color: $color-neutral-white;
        padding: 16px;
        display: flex;
        gap: 16px;
        text-decoration: none;
        transition: all 300ms;

        .infos-card{

            p{
                margin-top: 8px;
            }

            span{
                color: $color-primary-accent;
                padding-left: 0;
                transition: all 300ms;
            }
        }

        .img-card{
            img{
                min-width: 180px;
                width: 180px;
                height: 128px;
                object-fit:cover;
                border-radius: 8px;
            }
        }

        &:hover {
            cursor: pointer !important;
            background-color: $color-primary-extra-5;
            border-color: $color-primary-extra-5;

            .infos-card{
                span{
                    padding-left: 16px;
                }
            }
        }
    }
}

.servicos-secundarios{
    display: flex;
    gap: 32px;
    flex-wrap: wrap;

    .card-secundario{
        flex: 1;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        border-radius: $radius-16px;
        border: 1px solid $color-neutral-l-grey;
        background-color: $color-neutral-white;
        max-width: 256px;
        min-width: 256px;
        transition: all 300ms;

        &:hover{
            background-color: $color-primary-extra-5;
            border: 1px solid $color-primary-extra-5;

            .img-servicos{
                img{
                    transform: scale(1.1);
                }
            }
        }

        .img-servicos{
            max-height: 142px;
            overflow: hidden;

            img{
                transition: all 300ms;
                object-fit: cover;
            }
        }

        .infos-servicos{
            padding: 24px 16px;
            flex: 1 1 auto;
        }

        .btnt {
            padding: 0px 16px 24px;
        }
    }   
}

.servicos-terciarios{
    display: flex;
    flex-wrap: wrap;
    gap: 24px 32px;

    .card-terciario{
        flex: 1;
        width: 100%;
        min-width: 544px;
        border-radius: $radius-16px;
        border: 1px solid $color-neutral-silver;
        background-color: $color-neutral-white;
        padding: 16px;
        text-decoration: none;
        transition: all 300ms;

        p{
            margin: 16px 0;
        }

        span{
            display: flex;
            justify-content: flex-end;
            color: $color-primary-accent;
            padding-right: 16px;
            transition: all 300ms;
        }

        &:hover {
            cursor: pointer !important;
            background-color: $color-primary-extra-5;
            border-color: $color-primary-extra-5;

            span{
                padding-right: 0;
            }
        }
    }
}