.clearfix:before, .clearfix:after, .cf:before, .cmsp-row:before, .entry-content .camaraexpressa-list:before, .comment-respond:before, .cf:after, .cmsp-row:after, .entry-content .camaraexpressa-list:after, .comment-respond:after {
  display: none !important;
}

.clearfix:after, .cf:after, .cmsp-row:after, .entry-content .camaraexpressa-list:after, .comment-respond:after {
  display: none !important;
}

.wrap#inner-content {
  display: flex;
  gap: 32px;
}

.two-column-main {
  flex: 1;
}

.entry-content p {
  color: #000;
  font-family: Montserrat, sans-serif;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.8rem; /* 155.556% */
}

.title-section {
  margin-top: 24px;
}

.icon-doublearrow-red:before {
  background: url(../images/default.svg) 0 0 no-repeat;
  height: 32px;
  border-left: 0px;
  border-right: 0px;
  width: 32px;
  position: relative;
}

.content-box-top {
  border:none;
  display: flex;
  padding-left: 0px;
  align-items: center;
}

.box-nav-menu, .content-box {
  padding: 16px 16px 23px 16px;
  border-radius: 16px;
  border: 1px solid $color-neutral-silver;
  background: #FFF;

}

.content-box-top .content-box-title {
  padding-left: 0px;
  gap: 8px;
}

.content-box-top .content-box-title a {
  padding-left: 0px;
  text-transform: none;
  color: $color-primary-accent;
  text-decoration: none;
  /* Desktop/Headline 4 */
  font-size: 2.0rem;
  font-style: normal;
  font-weight: 600;
  line-height: 2.8rem; /* 140% */
}
.content-box {
  font-family: Montserrat, sans-serif;
  width: 352px;
  .box-nav-menu-list {
    padding-left: 0px;
  }

  .box-nav-menu-list, .box-downloads-list {
    border: 0px;
  }

  .box-nav-menu-submenu a {
    color: $color-neutral-black;

    /* Button & Link/Text Small link */
    font-family: Montserrat, sans-serif;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; /* 157.143% */
    text-decoration-line: underline;
    text-transform: none;
  }

  .box-nav-menu-list a, .box-downloads-list a {
    color: $color-neutral-black;

    /* Button & Link/Text Small link */
    font-family: Montserrat, sans-serif;
    font-size: 1.4rem;
    font-style: normal;
    padding:8px 33px;
    font-weight: 400;
    line-height: 22px; /* 157.143% */
    text-decoration-line: underline;
    text-transform: none;
  }

  .box-nav-menu-submenu {
    border:none !important;
  }

  .box-nav-menu-list a:before, .box-downloads-list a:before {
    width: 24px;
    height: 24px;
    top: 8px;
    background: url('../images/link-default.svg') 0 0 no-repeat;
  }

  .box-nav-menu-list li, .box-downloads-list li {
    border: none !important;
  }
  .content-box-top .content-box-title:before {
    position: relative;
    border-right: 0px;
  }
}

.page-template-page-fullwidth {
  .otherwise {
    display: none !important;
  }
}

.caixaflex .item-redes-img  {
  margin: 0 auto;
}

.destaques .item a img {
  margin: 4px auto !important;
}

.entry-content .camaraexpressa-list li {
  float: inherit !important;
}

.box-featured-article article h3, .box-events article h3, .box-tour article h3 {
  padding: 10px 0px;
  font-size: 1.4rem;
}

.box-latest-news .box-latest-news-item .date {
  width: 50px;
  border-right: 0px;
}

.box-latest-news .box-latest-news-item .date a {
  color: $color-primary-accent;
}

.box-latest-news .box-latest-news-item .date:after {
  display: none;
}

.sidebar .box-latest-news .box-latest-news-item .article-title .date {
  min-width: 60px;
  border-right: 0;
  float: inherit;
}

.box-latest-news .box-latest-news-item .headline a {
  -webkit-line-clamp: 2; /* number of lines to show */
  line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  display: -webkit-box;
}

.icon-newspaper-red:before,.icon-clock-red:before, .icon-archives-red:before {
  filter: brightness(0.6);
}

.two-column-main {
  .content-box {
    width: 100%;
  }
}

@media only screen and (min-width: 768px) {
  .sidebar {
    width: 352px;
    float: inherit;
    margin-top: 2.2em;
    padding-bottom: 2.2em;
  }
}


.content-box-top {
  height: auto !important;
}

#main {
  width: 100%;
}