//Colors
//Neutral
$color-neutral-black: #212121;
$color-neutral-d-grey: #838B8D;
$color-neutral-d-grey-2: #4D4D4D;
$color-neutral-dark-grey: #2C2C2C;
$color-neutral-grey: #80979F;
$color-neutral-l-grey: #AEB6B8;
$color-neutral-grey-blue: #B2C8D3;
$color-neutral-grey-blue-2: #ABBED1;
$color-neutral-l-blue: #EEF5FC;
$color-neutral-silver: #C6D3D9;
$color-neutral-white: #FFFFFF;

//Primary
$color-primary-accent: #7F1A22;
$color-primary-extra-1: #5A2A1E;
$color-primary-extra-2: #A15B42;
$color-primary-extra-3: #E0B5A4;
$color-primary-extra-4: #F9CBD8;
$color-primary-extra-5: #FFF1F5;

//Success
$color-success-m-green: #009262;

//Warning
$color-warning-lemon: #FFA826;
$color-warning-lemon-l: #FFF8EC;

//Danger
$color-danger-d-red: #C33025;
$color-danger-m-red: #E02B1D;
$color-danger-d-red-l: #FFF1F0;

//Link
$color-link: #0671E0;
$color-link-d: #0053AD;

/***************************************************/

//Effects
//Shadows
$shadow-2px: 0px 2px 4px rgba(171, 190, 209, 0.6);
$shadow-4px: 0px 4px 8px rgba(171, 190, 209, 0.4);
$shadow-6px: 0px 6px 12px rgba(171, 190, 209, 0.3);
$shadow-8px: 0px 8px 16px rgba(171, 190, 209, 0.4);

//Contour
$contour-1px: 1px solid #B2C8D3;

//Radius
$radius-4px: 4px;
$radius-8px: 8px;
$radius-10px: 10px;
$radius-16px: 16px;
$radius-24px: 24px;
$radius-100px: 100px;
$radius-500px: 500px;


$border-radius-normal: 16px;
$border-radius-normal-mobile: 5px;