//Standard Buttons
//Primary
.button-primary {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2rem;
  text-align: center;
  color: $color-neutral-white;
  padding: 16px 32px;
  gap: 10px;
  background: $color-primary-accent;
  border: 1px solid $color-primary-accent;
  border-radius: $radius-8px;
  transition: all 300ms;

  &:hover {
    background: $color-primary-extra-2;
    color: white !important;
  }

  &:focus {
    background: $color-primary-extra-2;
    border: 1px solid $color-primary-accent;
    color: white;
  }

  &:active {
    background: $color-primary-extra-1;
  }

  &:disabled {
    color: $color-neutral-grey;
    background: $color-neutral-silver;
  }
}

[class^="button-"] {
  text-decoration: none;
  border: none;
  appearance: none;
}

//Secondary
.button-secondary {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2rem;
  text-align: center;
  color: $color-primary-accent;
  padding: 16px 32px;
  gap: 10px;
  background: $color-neutral-white;
  border: 1px solid $color-primary-accent;
  border-radius: $radius-8px;
  transition: all 300ms;

  &:hover {
    background: $color-neutral-silver;
  }

  &:focus {
    background: $color-neutral-silver;
    border: 1px solid $color-neutral-d-grey-2;
  }

  &:active {
    background: $color-neutral-silver;
    border: 1px solid $color-neutral-silver;
  }

  &:disabled {
    color: $color-neutral-grey;
    background: $color-neutral-silver;
    border: none;
  }
}

//Tertiary
.button-tertiary {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2rem;
  text-align: center;
  color: $color-primary-accent;
  padding: 16px 32px;
  gap: 10px;
  background: $color-neutral-white;
  border: none;
  border-radius: $radius-8px;
  transition: all 300ms;

  &:hover {
    background: $color-neutral-silver;
  }

  &:focus {
    background: $color-neutral-white;
    border: 1px solid $color-neutral-d-grey-2;
  }

  &:active {
    background: $color-primary-extra-5;
  }

  &:disabled {
    color: $color-neutral-grey;
    background: $color-neutral-silver;
  }
}

.disabled-link {
  color: $color-neutral-grey;
  border: solid 1px $color-neutral-silver;
  background: $color-neutral-silver;
  cursor: default;
  pointer-events: none;

  svg {
    path {
      stroke: $color-neutral-grey;
    }
  }
}

//Medium Size for all buttons
.button-size-md {
  padding: 14px 32px !important;
}

//Small Size for all buttons
.button-size-sm {
  font-size: 1.4rem !important;
  line-height: 1.6rem !important;
  padding: 8px 24px !important;
  gap: 8px !important;
}

/***************************************************/

//Icons Buttons
//Primary
.button-icon-primary {
  color: $color-neutral-white;
  padding: 20px;
  gap: 10px;
  background: $color-primary-accent;
  border-radius: $radius-8px;
  border: none;
  transition: all 300ms;

  &:hover {
    background: $color-primary-extra-2;
  }

  &:focus {
    background: $color-primary-extra-2;
    border: 2px solid $color-primary-accent;
  }

  &:active {
    background: $color-primary-extra-1;
  }

  &:disabled {
    background: $color-neutral-silver;
  }
}

//Secondary
.button-icon-secondary {
  color: $color-primary-accent;
  padding: 20px;
  gap: 10px;
  background: $color-neutral-white;
  border-radius: $radius-8px;
  border: none;
  transition: all 300ms;

}

/***************************************************/

//Link Buttons
.button-link {
  color: $color-link;
  text-decoration: none;
  transition: all 300ms;

  &:hover {
    text-decoration: underline;
  }

  &:focus {
    text-decoration: underline;
    border: 1px solid $color-neutral-black;
    border-radius: 2px;
  }

  &:active {
    color: $color-link-d;
    text-decoration: underline;
  }

  &:disabled {
    color: $color-neutral-grey-blue;
  }
}

@media (max-width: 768px) {
  [class^="button-"], .button-primary {
    padding: 8px 24px;
    font-size: 1.2rem;
    line-height: 1.6rem;
  }
}