.popupflex {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  display: none;
  > .flex {
    display: flex;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    .contentPopup {
      svg {
        position: absolute;
        top: -30px;
        cursor: pointer;
        right: -30px;
      }
      position: relative;
      padding: 20px;
      background-color: white;
      max-width: 70vw;
      max-height: 80vh;
      width: 100%;
      iframe {
        border: none;
        appearance: none;
        aspect-ratio: 16 / 9;
        max-width: 70vw;
        max-height: calc(80vh - 40px);
        height: 100%;
        width: 100%;
      }
    }
  }
}